@{
    ViewBag.Title = "Gob Mx Dummy";
}
@section featured {

                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>

    <div class="row">
        <div class="col-md-4">
            <span class="glyphicon glyphicon-fire center" aria-hidden="true" style="font-size:48px; text-align:center;"></span><br />
            Con el objetivo de estandarizar la estructura de los contenidos en las dependencias, se ha realizado el siguiente documento, que funciona como una guía compuesta por un conjunto de elementos específicos que se deben de cumplir al momento de realizar la maquetación de los trámites en línea.

        </div>
        <div class="col-md-4">
            <span class="glyphicon glyphicon-eye-open center" aria-hidden="true" style="font-size:48px; text-align:center;"></span><br />
            La gráfica base sirve como referencia para organizar la información y la forma en la que esta estará disponible, para facilitar a nuestros usuarios que accedan de manera sencilla a todo el contenido que solicite.
        </div>
        <div class="col-md-4">
            <span class="glyphicon glyphicon-user center" aria-hidden="true" style="font-size:48px; text-align:center;"></span><br />
            Este framework tiene la capacidad de insertar la cabecera y pie de página de www.gob.mx de manera dinámica. El único requisito para lograr ese objetivo es ingresar una hoja de estilo y un javascript en todos los htmls que lo requieran.
        </div>
    </div>

}

